



/****************************************************************************************************************************/
.nav--localstyle{
    
    background-color:#002c4b;
   
   
   
     
}

.textnav--style{
    font-size: 1.3rem;

    &:hover{
        color: #e7473b  !important;
    }
   }

.acccueil{
    
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("monbgimage");
    background-size: cover;
    
    
 
    
    height: 100vh;

    & h1{
        font-size: 3rem;
        font-family: 'Ubuntu', sans-serif;
        color: white;
       
        

    }
     hr{
        background-color: #002c4b;
        width: 500px;
        height: 2px;
        
      
        
    }
    & p{
        font-size: 1.2rem;
        color:white;
        margin-top: 20px;
        width: 429px;
        text-align: justify;
    }
    & a{
        color: white;
        text-align: center;
        font-size: 1.3rem;
        padding: 10px;
        border: white 2px solid;
        border-radius: 10px;
        width: 160px;
        margin-top: 100px;
            &:hover{
                background-color: white;
                color: #df3d32;
            }
    }
}

.contenairEntete{

        position: absolute;
        display: flex;
        flex-direction: column;
        left: 340px;
        top: 250px;
}

.bio__avatar{
    height: 500px ;
    width: 300;
}